aamarpay==1.0.1
aenum==3.1.15
ai-api-client-sdk==2.2.2
ai-core-sdk==2.4.8
amqp==5.2.0
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
awscli==1.35.10
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
boto3==1.35.44
botocore==1.35.44
cachetools==5.5.0
celery==5.3.6
certifi==2023.11.17
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==2.0.12
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
cramjam==2.11.0
crispy-bootstrap5==2023.10
cron-descriptor==1.4.3
cryptography==42.0.8
Cython==0.29.37
daphne==4.1.2
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.7
django-allauth==0.63.3
django-autoslug==1.9.9
django-autoslug-field==0.2.3
django-celery-beat==2.6.0
django-cleanup==8.1.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-email==0.1.10
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.5
django-htmx==1.18.0
django-phonenumber-field==8.1.0
django-redis==5.4.0
django-sslserver==0.22
django-timezone-field==6.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djongo==1.3.7
dnspython==2.7.0
docutils==0.16
durationpy==0.9
EasyProcess==1.1
entrypoint2==1.1
env==0.1.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.13.1
fqdn==1.5.1
google-auth==2.35.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kombu==5.3.7
kubernetes==31.0.0
Markdown==3.5.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
maturin==1.7.4
metaflow==2.12.25
mistune==3.0.2
MouseInfo==0.1.3
msgpack==1.0.8
mss==9.0.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
ninja==1.11.1.1
notebook==7.2.1
notebook_shim==0.2.4
oauthlib==3.2.2
overrides==7.7.0
packaging==24.1
pandocfilters==1.5.1
parso==0.8.4
phonenumbers==9.0.5
Pillow==10.1.0
pip-chill==1.0.3
pipenv==2023.11.15
platformdirs==3.11.0
pluggy==1.5.0
probableparsing==0.0.1
prometheus_client==0.21.0
prompt_toolkit==3.0.47
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycparser==2.22
PyGetWindow==0.0.9
Pygments==2.18.0
pyhumps==3.8.0
PyJWT==2.8.0
pymemcache==4.0.0
pymongo==3.11.4
PyMsgBox==1.0.9
pyOpenSSL==24.2.1
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
pytest==8.3.2
pytest-asyncio==0.24.0
python-crfsuite==0.9.11
python-crontab==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-snappy==0.7.3
pytweening==1.0.7
pytz==2023.3.post1
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.5.2
QtPy==2.4.1
redis==5.0.8
referencing==0.35.1
requests==2.26.0
requests-oauthlib==2.0.0
rest-framework-simplejwt==0.0.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
rsa==4.7.2
s3transfer==0.10.3
sap-ai-core-metaflow==1.1.21
Send2Trash==1.8.3
service-identity==24.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.4.4
sslcommerz-lib==1.0
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
Twisted==24.7.0
txaio==23.1.1
typed-ast==1.5.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.9.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.20
usaddress==0.5.11
uvicorn==0.30.6
vine==5.1.0
virtualenv==20.24.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
whitenoise==6.7.0
widgetsnbextension==4.0.11
winkerberos==0.12.2
zope.interface==7.0.3
